<ion-content>
  <ion-slides pager="false">
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="">
        <img src="../../../assets/intro/slide2.svg" />
        <h1>Hey there!</h1>
        <p>This is an epic app because...</p>
        <ion-button (click)="next()" fill="clear" color="">Next</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="">
        <img src="../../../assets/intro/slide1.svg" />
        <h1>It's Ionic!</h1>
        <p>... it shows all the basics you need!</p>
        <ion-button (click)="start()" fill="clear" color="">Get Started
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>